body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin: 1em;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.post_list {
  display: flex;
  flex-wrap: wrap;
}

.input {
  padding: 0.5em;
  margin: 1em;
}

.input > input {
  padding: 0.5em;
  margin: 1em 0.5em;
}

.input > button {
  padding: 0.5em;
  margin: 1em 0.5em;
}

.post {
  border: 2px solid rgb(29, 50, 111);
  padding: 1em;
  margin: 1em;
  background-color: rgb(61, 112, 208);
  color: aliceblue;
  width: 10vw;
}

.f_input {
  display: flex;
  justify-content: space-between;
  width: 22vw;
  margin: 0.5em 0;
}

.edit_post button {
  margin-right: 1em;
}

.edit_post {
  margin: 1em;
  padding: 1em;
}

.add_edit {
  display: flex;
  justify-content: space-between;
}

nav {
  margin: 1em;
}

nav > a {
  padding : 1em 0.25em;
  margin : 1em 0.25em;
  color: rgb(21, 118, 203);
}